.post {
  margin: 13px 0;
  box-shadow: 0px 2px 3px rgb(150, 150, 150);
  position: relative;
}

.actions {
  display: flex;
  align-items: center;
}
.actions img {
  margin-left: 10px;
  height: 17px;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(264deg)
    brightness(105%) contrast(101%);
}
.actions button {
  cursor: pointer;
}

.post > div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.post > div:first-of-type {
  min-height: 40px;
  background-color: rgb(49, 76, 165);
  color: white;
}
.post > div:first-of-type span {
  font-size: 14px;
}

.post > div:nth-child(2) {
  text-align: center;
  justify-content: center;
}
.post > div:nth-child(2) span {
  display: block;
  width: 100%;
  text-align: start;
  margin: 0 auto;
}
.post > div:nth-child(2) img {
  cursor: auto;
  width: auto;
  height: 90px;
  margin-bottom: 7px;
}

.post > div:nth-child(3) {
  background-color: rgb(245, 245, 245);
  min-height: 30px;
  padding: 7px;
  justify-content: flex-start;
}
.post > div:nth-child(3) img {
  width: 20px;
  margin: 0px 4px 0 0;
}
.post > div:nth-child(3) span {
  font-size: 14px;
}