.new-post {
  background-color: white;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 2px 4px rgb(90, 90, 90);

  /* text-align: end; */
  padding: 10px;
}

.new-post textarea {
  resize: none;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
}
.new-post button {
  margin: 0 3px;
}

.edit-img {
  display: flex;
  align-items: center;
}
.edit-img img {
  height: 70px;
  margin: 0 13px 10px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-post > span:last-child {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14.5px;
  margin: 5px;
}

@media screen and (max-width: 640px) {
  .actions > div {
    width: 100%;
    margin-top: 10px;
    text-align: end;
  }
}
@media screen and (max-width: 500px) {
  .actions > div {
    text-align: center;
  }
}