.title {
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 25px 0;
}

.posts {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding-bottom: 15px;
}

.message {
  background-color: rgba(255, 255, 255, 0.781);
  border: 2px solid rgb(134, 134, 134);
  border-radius: 10px;
  width: 70%;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 10px;
}

@media screen and (max-width: 430px) {
  .posts {
    width: 92%;
  }  
  .message {
    width: 85%;
  }
}