.title {
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
}

.posts {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
}

.message {
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 70%;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
  margin: 15px auto 0;
  padding: 10px;
}