.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px auto;
  /* width: 80%; */
  max-width: 930px;
  padding: 0 15px;
}

.posts {
  width: 65%;
}

.posts-section {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
}
.posts-section h2 {
  font-size: 21px;
  margin: 10px 5px;
  display: inline-block;
}
.posts-section > img {
  width: 15px;
  cursor: pointer;
  transition: .2s;
}