.button {
  background-color: rgb(166, 243, 130);
  border: none;
  border-radius: 30px;
  padding: 4.5px 15px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(152, 228, 117);
}